* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}
header .left {
  width: 50%;
  height: 65px;

  display: flex;
  justify-content: flex-start;
}
header .left .logo {
  margin-left: 25px;
  margin-top: 13px;
}
header .left .lists ul {
  display: flex;
  height: 65px;
  margin-left: 40px;
  align-items: center;
}
header .left .lists ul li a {
  color: #6e7174;
  font-size: 14px;
  margin-right: 15px;
}
header .left .lists ul li {
  margin-right: 35px;
  /* font-family: serif; */
  font-weight: 400;
}
header .right {
  width: 20%;

  display: flex;
}
header .right .one {
  background-color: #ffffff;
  border: 1px solid #3080ea;
  margin-right: 10px;
  border-radius: 5px;
}
header .right .one a {
  color: #3080ea;
  padding: 12px 30px 12px 30px;

  font-size: 15px;
  font-weight: 550;
}
header .right .two {
  /* padding: 12px 25px; */
  padding: 12px 30px 12px 30px;
  border-radius: 5px;
  background-color: #3080ea;
  border: none;
  border-radius: 5px;
}
header .right .two a {
  font-size: 15px;
  color: white;
  font-weight: 550;
}
/* main img {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
} */
main .mainsection {
  width: 100%;
  height: 500px;
  position: relative;
  /* background-image: url(""); */
  /* margin-bottom: 60px; */
}
main .mainsection section {
  position: absolute;
  top: 90px;
  text-align: center;
  left: 250px;
}
main .mainsection h1 {
  /* margin-bottom: 60px; */
  font-size: 135px;
  letter-spacing: -3px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #3c4043;
  line-height: 130px;
}
main .mainsection .one {
  padding: 12px 20px;
  margin-top: 25px;
  background-color: #ffffff;
  border: 1px solid #3080ea;
  border-radius: 5px;
}
main .mainsection .one a {
  color: #2b81f1;
  font-size: 15px;
}
main .mainsection p {
  font-size: 30px;
  margin-top: 25px;
  font-family: sans-serif;
  font-weight: 400;
}
